<body>

    <header><img src="logo.jpg" id="logopic" alt="logo"></header>


    <div class="wrapper">
        <div class="container">

            <div class="signup"><a href="signup.html" id="signlink">Sign Up</a></div>
            <div class="login"><a href="login.html" id="loglink">Log In</a></div>

            <div class="login-form">
                <input type="text" placeholder="Email or Username" class="input"><br />
                <input type="password" placeholder="Password" class="input"><br />
                <div><a href="category.html"><img src="login.png" id="loginpng"></a></div>
                <span><a href="#">I forgot my username or password.</a></span>
            </div>

        </div>
    </div>
    <script src="login.js"></script>
</body>