<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="login.css">

    <title>MISSED</title>
</head>

<body>

    <p>Welcome {{title}}</p>


    <div class="wrapper">
        <div class="container">

            <div class="signup"><a href="signup.html" id="signlink">Sign Up</a></div>
            <div class="login"><a href="login.html" id="loglink">Log In</a></div>

            <div class="signup-form">
                <form action="/signup" method="POST">
                    <input name="username" type="text" placeholder="Email or Username" class="input"><br />
                    <input name="password" type="password" placeholder="Password" class="input"><br />
                    <select name="type">
                        <option value="student">I am a student</option>
                        <option value="counselor">I am a counselor</option>
                    </select>
                    <div>
                        <input class="submitButton" type="submit" value="Sign Up" />
                    </div>
                </form>
                {{!-- <div><a href="category.html"><img src="login.png" id="loginpng"></a></div> --}}

            </div>


        </div>
    </div>
    <script src="login.js"></script>
</body>